node_modules/
.DS_Store
*.log
.firebase/
firebase/.firebaserc
www/
scratchpad/

__pycache__/
*.pyc

.env
.env.*
!.env.example

# Firebase emulator local logs
firestore-debug.log
firebase-debug.log
ui-debug.log
